<html>
<body>
<ul style="list-style-type:none">
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
            <tr>
                <td>
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                        <tbody>
                        <tr>
                            <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" align="center" width="540" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td align="center">
                                            <table border="0" align="left" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;">
                                                <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                               align="center">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center"><a href="" style="display: block; border: none;"><img
                                                                                width="115" border="0"
                                                                                style="display: block; width: 115px;"
                                                                                src="https://lifes.kominexpres.cz/assets/img/logo.png"
                                                                                alt="logo"></a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" align="left" width="5" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;">
                                                <tbody>
                                                <tr>
                                                    <td height="20" width="5"
                                                        style="font-size: 20px; line-height: 20px;">&nbsp;
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <li style="position: relative;">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
            <tr>
                <td align="center">
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="ffffff"
                           style="border: solid 1px #dbdbdb;">
                        <tbody>
                        <tr>
                            <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" align="center" width="540" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <table border="0" width="330" align="left" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;">
                                                <tbody>
                                                <tr>
                                                    <td align="left" style="color: #39434b; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 700; mso-line-height-rule:
                                                    exactly; line-height: 24px;">
                                                        <div  style="line-height: 24px;"><h4
                                                                    style="margin:0;"><span style="color:#000">Dobrý den Vážený zákazníku</span>
                                                            </h4></div>
                                                    </td></tr>
                                                <tr>
                                                    <td height="5" style="font-size: 5px; line-height: 5px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="color: #848999; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height:
                                                    24px;" >
                                                        <div  style="line-height: 24px;"><span
                                                                    style="color:#8c909f">Děkujeme, že jste si pro Váš nákup zvolil(a) internetový obchod {{ company.website_name }}</span>
                                                        </div>
                                                    </td></tr>
                                                <tr>
                                                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"
                                                        style="color: #39434b; font-size: 19px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height:
                                                    32px;" >
                                                        <div style="line-height: 32px;">
                                                            <p style="font-size:19px;color:#000;">Byl změněn stav Vaši objednávky s referenčním číslem: <span
                                                                        style="color:#41ade2;">{{ odrId }}</span>
                                                            </p>
                                                        </div>
                                                    </td></tr>
                                                <tr>
                                                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"
                                                        style="color: #848999; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height:
                                                    24px;" >

                                                        <div  style="line-height: 24px;">
                                                            <span style="color:#000;font-size:14px;">Aktuální stav objednávky: <span style="font-size:14px;font-weight:bold;color:#41ade2;">"{{ statusWord }}".</span></span>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="45">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left"
                                                        style="color: #848999; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height:
                                                    24px;" >
                                                        <div  style="line-height: 24px;"><span
                                                                    style="color:#8c909f">S přáním krásného dne,</span>
                                                        </div>
                                                    </td></tr>
                                                <tr>
                                                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"
                                                        style="color: #848999; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height:
                                                    24px;" >
                                                        <div  style="line-height: 24px;"><span
                                                                    style="color:#8c909f">{{ company.cdl_name }}<br>IČ: {{ company.cdl_tin }}<br>DIČ: {{ company.cdl_vatin }}</span>
                                                        </div>
                                                    </td></tr>
                                                <tr>
                                                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" width="200" align="left" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;"
                                            >
                                                <tbody>
                                                <tr>
                                                    <td width="200" height="30"
                                                        style="font-size: 30px; line-height: 30px;">&nbsp;
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" width="200" align="right" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;"
                                                   bgcolor="f5f6f7">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" width="90%" align="center" cellpadding="0"
                                                               cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td height="20"
                                                                    style="font-size: 20px; line-height: 20px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color:#000;font-size:13px;font-family:Helvetica,Arial,sans-serif;font-weight:700;line-height:22px;" >
                                                                    <div  style="line-height: 22px"><h4
                                                                                style="margin:0"><span
                                                                                    style="color:#000">Máte dotaz?</span>
                                                                        </h4></div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="5"
                                                                    style="font-size: 5px; line-height: 5px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color:#8c909f;font-size:13px;font-family:Helvetica,Arial,sans-serif;line-height:24px;">
                                                                    <div  style="line-height: 24px;">
                                                                        <span style="color:#8c909f">Zeptejte se našich specialistů</span>
                                                                    </div>
                                                                </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr bgcolor="ffffff" >
                                                    <td height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" width="90%" align="center" cellpadding="0"
                                                               cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td width="30" align="left" valign="top"><img
                                                                            src="https://lifes.kominexpres.cz/assets/img/phone-i.png"
                                                                            style="display: block; width: 20px;" alt="">
                                                                </td>
                                                                <td align="left"
                                                                    style="color:#000;font-size:13px;font-family:Helvetica,Arial,sans-serif;line-height:24px;"
                                                                >
                                                                    <div >
                                                                        <div
                                                                                style="line-height: 24px;"><h4
                                                                                    style="margin:0"><span
                                                                                        style="color:#000">Zavolejte nám na zákaznickou linku:</span>
                                                                            </h4> <span style="color:#8c909f"><a href="tel:+{{ company.cct_cellnumber }}">+{{ company.cct_cellnumber|number_format(0, '', ' ') }}</a></span>
                                                                        </div>
                                                                    </div>
                                                                </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr bgcolor="ffffff" >
                                                    <td height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" width="90%" align="center" cellpadding="0"
                                                               cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td width="30" align="left" valign="top"><img
                                                                            src="https://lifes.kominexpres.cz/assets/img/envelope-i.png"
                                                                            style="display: block; width: 20px;" alt="">
                                                                </td>
                                                                <td align="left"
                                                                    style="color:#000;font-size:13px;font-family:Helvetica,Arial,sans-serif;line-height:24px;">
                                                                    <div  style="line-height: 24px;">
                                                                        <h4 style="margin:0"><span style="color:#000">Zašlete nám e-mail:</span>
                                                                        </h4> <span style="color:#8c909f">{{ company.cct_email }}</span>
                                                                    </div>
                                                                </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr bgcolor="ffffff">
                                                    <td height="1" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" width="90%" align="center" cellpadding="0"
                                                               cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td height="20"
                                                                    style="font-size: 20px; line-height: 20px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30" align="left" valign="top"><img
                                                                            src="https://lifes.kominexpres.cz/assets/img/home-i.png"
                                                                            style="display:block;width:20px;" alt=""
                                                                    ></td>
                                                                <td align="left"
                                                                    style="color:#000;font-size:13px;font-family:Helvetica,Arial,sans-serif;line-height:22px;" >
                                                                    <div  style="line-height: 22px"><h4
                                                                                style="margin:0"><span
                                                                                    style="color:#000">Sídlo firmy:</span>
                                                                        </h4> <span style="color:#8c909f">{{ company.street }}</span>
                                                                        <span style="color:#8c909f">{{ company.zip|slice(0,3) }}&nbsp;{{ company.zip|slice(3,4) }}&nbsp;{{ company.city }}</span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="5"
                                                                    style="font-size: 5px; line-height: 5px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr bgcolor="ffffff">
                                                    <td height="1" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                <tr bgcolor="ffffff">
                                                    <td height="1" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
            <tr>
                <td align="center">
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="ffffff"
                           style="border: solid 1px #dbdbdb;">
                        <tbody>
                        <tr>
                            <td>
                                <table border="0" align="center" width="540" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="left"
                                            style="color: #39434b; font-size: 19px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height: 24px;"
                                        >
                                            <div  style="line-height: 24px;"><span
                                                        style="color:#000;font-size: 14px;white-space: nowrap;font-weight: 600;"> <multiline> Detail Objednávky </multiline></span>
                                            </div>
                                        </td></tr>
                                    <tr>
                                        <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td>
                                    </tr>
                                    <tr bgcolor="f5f6f7">
                                        <td align="center"
                                            style="color: #26313c; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height: 24px;
                                        border-right: solid 1px #ffffff;" >
                                            <div  style="line-height: 24px;"><span
                                                        style="color:#000">Zboží</span></div>
                                        </td>
                                        <td width="95" align="center"
                                            style="color: #26313c; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height: 24px;
                                        border-right: solid 1px #ffffff;" >
                                            <div  style="line-height: 24px;"><span
                                                        style="color:#000">Cena za 1 ks</span></div>
                                        </td>
                                        <td width="95" align="center"
                                            style="color: #26313c; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height: 24px;
                                        border-right: solid 1px #ffffff;" >
                                            <div  style="line-height: 24px;"><span
                                                        style="color:#000">Množství</span></div>
                                        </td>
                                        <td width="95" align="center"
                                            style="color: #26313c; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly; line-height: 24px;"
                                        >
                                            <div  style="line-height: 24px;"><span
                                                        style="color:#000">Celkem</span></div>
                                        </td></tr>
                                    <tr>
                                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                    </tr>

                                    {% for item in orderItems %}
                                        <tr>
                                            <td valign="top">
                                                <table border="0" align="left" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td height="5" style="font-size:5px;line-height:5px">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <div style="line-height:22px">
                                                                <span style="color:#000">{{ item.phy_name }}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                            <td align="center">
                                                <div style="line-height:22px">
                                                    <span style="color:#000">{{ item.price_vat_discount_item|number_format(0, ',', ' ') }} Kč</span>
                                                </div>
                                            </td>

                                            <td align="center">
                                                <div style="line-height:22px">
                                                    <span style="color:#000">{{ item.quantity }}</span>
                                                </div>
                                            </td>

                                            <td align="right">
                                                <div style="line-height:22px">
                                                    <span style="color:#000">{{ item.price_vat_discount_total|number_format(0, ',', ' ') }} Kč</span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="10" style="font-size:10px;line-height:10px">&nbsp;</td>
                                        </tr>
                                    {% endfor %}

                                    <tr bgcolor="e8eaec">
                                        <td colspan="4" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                    </tr>

                                    {% if orderInfo.note|trim is not empty and orderInfo.note|trim|length > 0 %}
                                        <tr>
                                            <td colspan="2" height="10" style="font-size:10px;line-height:10px">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" align="left">
                                                <div style="line-height:25px">
                                                    <span style="color:#000;font-size:14px">
                                                        <b>Poznámka zákazníka:</b>&nbsp;{{ orderInfo.note|trim }}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td colspan="2" height="15" style="font-size:15px;line-height:15px">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
            <tr>
                <td>
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>
                                <table border="0" width="590" align="left" cellpadding="0" cellspacing="0"
                                       style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;"
                                >
                                    <tbody>
                                    <tr>
                                        <td>
                                            <table border="0" width="282.5" align="left" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0; border: solid 1px #dbdbdb;"
                                                   bgcolor="ffffff" >
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" width="240" align="center" cellpadding="0"
                                                               cellspacing="0" >
                                                            <tbody>
                                                            <tr>
                                                                <td height="20"
                                                                    style="font-size: 20px; line-height: 20px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #39434b; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 700; line-height:
                                                                22px;" >
                                                                    <div  style="line-height: 22px">
                                                                        <span style="color: #000;font-size:14px;"> <multiline> <b>Fakturační údaje</b> </multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="15"
                                                                    style="font-size: 15px; line-height: 15px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{% if orderInfo.enterprise is null %} {{ orderInfo.big_customer }} {% else %} {{ orderInfo.enterprise }} {% endif %}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="10"
                                                                    style="font-size: 10px; line-height: 10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{{ orderInfo.big_street }}<br>{{ orderInfo.big_zip }}&nbsp;{{ orderInfo.big_city }}<br>{{ orderInfo.big_country }}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="10"
                                                                    style="font-size: 10px; line-height: 10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #39434b;"
                                                                            >Telefon:</span> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{{ orderInfo.big_cellnumber }}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="10"
                                                                    style="font-size: 10px; line-height: 10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #39434b;"
                                                                            >E-mail:</span> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{{ orderInfo.act_email }}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="35"
                                                                    style="font-size: 35px; line-height: 35px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" width="2" align="left" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;"
                                            >
                                                <tbody>
                                                <tr>
                                                    <td width="2" height="30"
                                                        style="font-size: 30px; line-height: 30px;"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table border="0" width="282.5" align="right" cellpadding="0"
                                                   cellspacing="0"
                                                   style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0; border: solid 1px #dbdbdb;"
                                                   bgcolor="ffffff" >
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" width="240" align="center" cellpadding="0"
                                                               cellspacing="0" >
                                                            <tbody>
                                                            <tr>
                                                                <td height="20"
                                                                    style="font-size: 20px; line-height: 20px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #39434b; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 700; line-height:
                                                                22px;" >
                                                                    <div  style="line-height: 22px">
                                                                        <span style="color: #000;font-size:14px;"> <multiline> <b>Dodací údaje</b> </multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="15"
                                                                    style="font-size: 15px; line-height: 15px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{% if orderInfo.enterprise is null %} {{ orderInfo.dly_customer }} {% else %} {{ orderInfo.enterprise }} {% endif %}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="10"
                                                                    style="font-size: 10px; line-height: 10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{{ orderInfo.dly_street }}<br>{{ orderInfo.dly_zip }}&nbsp;{{ orderInfo.dly_city }}<br>{{ orderInfo.dly_country }}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="10"
                                                                    style="font-size: 10px; line-height: 10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #000;"
                                                                            >Telefon:</span> <span
                                                                                    style="color: #8c909f;font-size: 13px;">{{ orderInfo.big_cellnumber }}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="10"
                                                                    style="font-size: 10px; line-height: 10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color: #8c909f; font-size: 13px; font-family: 'Helvetica', Arial, sans-serif; line-height: 24px;"
                                                                >
                                                                    <div  style="line-height: 24px;">
                                                                    <span ><multiline> <span
                                                                                    style="color: #000;"
                                                                            >E-mail:</span> <span
                                                                                    style="color: #000;font-size: 13px;"> {{ orderInfo.act_email }}</span></multiline></span>
                                                                    </div>
                                                                </td></tr>
                                                            <tr>
                                                                <td height="35"
                                                                    style="font-size: 35px; line-height: 35px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
            <tr>
                <td>
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>
                                <table border="0" width="590" align="left" cellpadding="0" cellspacing="0"
                                       style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;">
                                    <tr>
                                        <td height="25" style="font-size:25px;line-height:25px">&nbsp;</td>
                                    </tr>
                                    <table border="0" width="590" align="right" cellpadding="0" cellspacing="0"
                                           style="border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0; border: solid 1px #dbdbdb;"
                                           bgcolor="ffffff" >
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" width="550" align="center" cellpadding="0"
                                                       cellspacing="0" >
                                                    <tbody>
                                                    <tr>
                                                        <td colspan="2" height="20"
                                                            style="font-size: 20px; line-height: 20px;">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left"
                                                            style="color: #39434b; font-size: 14px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 700; line-height: 25px;"
                                                        >
                                                            <div  style="line-height: 25px"><span
                                                                        style="color: #000;font-size:14px;"> <multiline> <b>Souhrn objednávky</b> </multiline></span>
                                                            </div>
                                                        </td></tr>
                                                    <tr>
                                                        <td colspan="2" height="30"
                                                            style="font-size: 30px; line-height: 30px;">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td  align="left" valign="middle"
                                                             style="color: #39434b; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly;
                                                        line-height: 23px;" >
                                                            <div  style="line-height: 23px"><span
                                                                        style="color: #000;font-size:14px;"><singleline>Zboží</singleline></span>
                                                            </div>
                                                        </td>
                                                        <td  align="right" valign="middle"
                                                             style="color:#8c909f;font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:22px" >
                                                            <div  style="line-height: 22px"><span
                                                                        style="color: #000;"><singleline>{{ orderInfo.put_total|number_format(0, ',', ' ') }} Kč</singleline></span>
                                                            </div>
                                                        </td></tr>
                                                    <tr>
                                                        <td colspan="2" height="30"
                                                            style="font-size: 30px; line-height: 30px;">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td  align="left" valign="middle"
                                                             style="color: #39434b; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly;
                                                        line-height: 22px;" >
                                                            <div  style="line-height: 22px"><span
                                                                        style="color: #000;font-size:14px;"><singleline>{{ orderInfo.spg_name }}</singleline></span>
                                                            </div>
                                                        </td>
                                                        <td  align="right" valign="middle"
                                                             style="color:#000;font-family:Helvetica,Arial,sans-serif;line-height:22px;font-size:14px" >
                                                            <div  style="line-height: 22px"><span
                                                                        style="color: #000;"><singleline>{{ orderInfo.spg_price|number_format(0, ',', ' ') }} Kč</singleline></span>
                                                            </div>
                                                        </td></tr>
                                                    <tr>
                                                        <td colspan="2" height="25"
                                                            style="font-size: 25px; line-height: 25px;">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td  align="left" valign="middle"
                                                             style="color: #39434b; font-size: 12px; font-family: 'Helvetica', Arial, sans-serif; mso-line-height-rule: exactly;
                                                        line-height: 22px;" >
                                                            <div  style="line-height: 22px"><span
                                                                        style="color: #000;font-size:14px;"><singleline>{{ orderInfo.pmt_name }}</singleline></span>
                                                            </div>
                                                        </td>
                                                        <td  align="right" valign="middle"
                                                             style="color:#000;font-family:Helvetica,Arial,sans-serif;line-height:22px;font-size:14px" >
                                                            <div  style="line-height: 22px"><span
                                                                        style="color: #000;"><singleline>{{ orderInfo.pmt_price }} Kč</singleline></span>
                                                            </div>
                                                        </td></tr>
                                                    <tr>
                                                        <td colspan="2" height="25"
                                                            style="font-size: 25px; line-height: 25px;">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr bgcolor="f5f6f7" >
                                                        <td  align="left" height="50"
                                                             valign="middle"
                                                             style="color:#000;font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:22px;font-weight:700" >
                                                            <div  style="line-height: 22px"><span
                                                                        style="color: #000;font-size:14px;"><singleline>&nbsp;&nbsp;Celkem s DPH</singleline></span>
                                                            </div>
                                                        </td>
                                                        <td  align="right" valign="middle"
                                                             style="color:#000;font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:22px;font-weight:700;" >
                                                            <div  style="line-height: 22px"><span
                                                                ><singleline>{{ orderInfo.ord_total|number_format(0, ',', ' ') }} Kč&nbsp;&nbsp;</singleline></span>
                                                            </div>
                                                        </td></tr>
                                                    <tr>
                                                        <td colspan="2" height="40"
                                                            style="font-size: 40px; line-height: 40px;">&nbsp;
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>
</body>
</html>
