<ul style="list-style-type:none">
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
                <tr>
                    <td>
                        <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                            <tbody>
                                <tr>
                                    <td height="20" style="font-size:20px;line-height:20px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" align="center" width="540" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <table border="0" align="left" cellpadding="0" cellspacing="0"
                                                               style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                                               align="center">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center"><a
                                                                                            style="display:block;border-style:none!important;border:0!important"><img
                                                                                            width="115" border="0"
                                                                                            style="display:block;width:115px"
                                                                                            src="https://ci5.googleusercontent.com/proxy/9VbCEZv1C0hIalKUGPzpkjAwArFgmJG2Fa8Eu5UIHqL5OxUYU5goqCDzVPXdJwJN0-mb5sGyj12WC5ocObho=s0-d-e1-ft#https://lifes.kominexpres.cz/assets/img/logo.png"
                                                                                            alt="logo" ></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" align="left" width="5" cellpadding="0" cellspacing="0"
                                                               style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="20" width="5" style="font-size:20px;line-height:20px">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="font-size:20px;line-height:20px">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
            <tbody>
                <tr>
                    <td align="center">
                        <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" bgcolor="ffffff"
                               style="border:solid 1px #dbdbdb">
                            <tbody>
                                <tr>
                                    <td height="40" style="font-size:40px;line-height:40px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" align="center" width="540" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td align="left">
                                                    <div style="line-height:24px"><h1
                                                            style="font-size:20px;font-weight:normal;color:#41ade2;margin:0">
                                                        <font face="Trebuchet MS">Obnovení hesla</font></h1></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5" style="font-size:5px;line-height:5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <div style="line-height:24px"><span style="color:#000"><font
                                                            face="Trebuchet MS" style="font-size:13px">Po kliknutí na níže uvedený odkaz budete vyzváni k zadání nového hesla, které nahradí původní heslo. </font></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="0">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <div style="line-height:24px"><span style="color:#000"><font
                                                            face="Trebuchet MS" style="font-size:13px">Změnu hesla provedete na následující adrese: https://admin.kominexpres.cz/#/auth/refresh-password/{{ amr.getRurCodeRefresh }}.</font></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="40" style="font-size:40px;line-height:40px">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>